*{
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
.banner{
    height: 1200px;
    max-width: 1920px;
    background-image: url(banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #b01ba5;
    margin: 0 auto;
}
header{
   
   max-width: 1555px;
   margin: 0 auto; 
}
.social{
     height: 70px;
     width: 1555px;
     background-color: transparent;
 
     color: white;
     display: flex;
     justify-content: end;
     align-items: center;
}
.social>span{
    font-size: 20px;
    font-weight: 500;
}
.social>ul{
    display: flex;
    list-style-type: none;
}
.social>ul>li{
    padding: 20px;
}
.navbar{
    height: 140px;
    max-width: 100%;
    background-color: #081624;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    margin-left: 55px;
}
.menu>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 25px;
}
.menu>a:hover{
    color: #b01ba5;
}
.login{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 50px;
}
.last-strip{
    max-width: 1555px;
    height: 80px;
    background-color:#4c4c4c ;
    display: flex;
    justify-content: right;
    align-items: center;
}
.burger{
    height: 60px;
    width: 110px;
    background-color: black;
    margin-right: 10px;
    border-radius: 7px;
    opacity: 0.6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
}
.game-on{
    max-width: 1550px;
    height: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.h-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h-p>h2{
    font-size: 210px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h-p>p{
    font-size: 40px;
    color: aliceblue;
    text-align: center;
}
.read-more>a{
background-color: white;
color: black;
text-decoration: none;
font-size: 22px;
text-transform: uppercase;
font-weight: 800;
padding: 30px 45px;
box-shadow: 15px 15px 0 0 #b01ba5;

}
.numbers{
    width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    column-gap: 11px;
    position: relative;
    top: 20%;
    left: -3%;
}
.numbers>div:first-child{
    height: 60px;
    width: 60px;
font-size: 35px;
color: #b01ba5;
border: 2px solid #b01ba5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.numbers>div:last-child{
    font-size: 35px;
    color: white;
}

.banner-2{
    background-color: #081624;
    max-width: 1920px;
    padding-top: 150px;
    padding-bottom: 150px   ;
    margin: 0 auto;

}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.col{
    width: 33%;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
}
.content-1{
    color: white;
    font-size: 30px;
}
.content-2{
    color: white;
    font-size: 45px;
}
.content-3{
    color: gray;
    font-size: 25px;
}
.content-4{
    font-size: 22px;
    color: white;
    font-style: italic ;
    font-weight: 600;
}
.content-1>span{
color: #b01ba5;
}